//Partials ans Import
/*Partials ans Import*/
@import 'reset';
@import 'background';

.content {
  font-size:0;
   letter-spacing: -4px;
   word-spacing: -4px;
}
.mbox {
     letter-spacing: 0;
     word-spacing: 0;

  font-size:22px;
	display:inline-block;
	height:300px;
	background:#CCC;
  width:50%;
  border:solid 10px #333;
  box-sizing:border-box;
  padding:12px;
  position:relative;
}
.mbox:before {
  content:" ";
  height:1px;
  top:10px;
  left:0;
  width:100%;
  position:absolute;

  @include dotted-line();
}
.gradient_test {
  margin-top:30px;
  width:300px;
  height:300px;
  //background:linear-gradient(70deg,blue,white);
  border:dashed 1px #333;
  //background-image:linear-gradient(to right, blue, white 80%, orange );
  //background-size:50px 10px;

  //background:linear-gradient(to right, rgba(255,255,255,0.8), rgba(255,255,255,0.2)), url(./images/test.jpg);
  //background:radial-gradient(#f0f 20%, rgba(255,255,255,0) 20%, rgba(255,000,255,1) 60% )


//background: repeating-linear-gradient(-45deg, red, red 5px, white 5px, white 10px);

background-color: #000;
background-image: repeating-linear-gradient(90deg, 
  transparent, transparent 25px, 
  red 25px, red 40px,
  blue 1px, blue 160px
  );

/*
background-color: #000;
background-image: 
repeating-linear-gradient(90deg, 
      transparent, transparent 50px,
      rgba(255, 127, 0, 0.25) 50px, rgba(255, 127, 0, 0.25) 56px, 
      transparent 56px, transparent 63px,
      rgba(255, 127, 0, 0.25) 63px, rgba(255, 127, 0, 0.25) 69px, 
      transparent 69px, transparent 116px,
      rgba(255, 206, 0, 0.35) 116px, rgba(255, 206, 0, 0.35) 166px),
repeating-linear-gradient(0deg, transparent, transparent 50px, rgba(255, 127, 0, 0.25) 50px,
      rgba(255, 127, 0, 0.25) 56px, transparent 56px, transparent 63px, rgba(255, 127, 0, 0.25) 63px,
      rgba(255, 127, 0, 0.25) 69px, transparent 69px, transparent 116px, rgba(255, 206, 0, 0.25) 116px,
      rgba(255, 206, 0, 0.25) 166px),
repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(143, 77, 63, 0.25) 5px,
      rgba(143, 77, 63, 0.25) 10px),
repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(143, 77, 63, 0.25) 5px,
      rgba(143, 77, 63, 0.25) 10px) ;*/

}
//Variables
/* Variables */
$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

//Nesting
/* Nesting */
nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

//Mixins
/* Mixins */


.box { @include border-radius(10px); }


@mixin test {
	.border {
		@content
	}
	.face {
		margin:10px auto;
		@content;
	}
}
@include test {
	color:blue;
	font-size:14px;
}


//Extend/Inheritance
/* Extend/Inheritance */
.message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.success {
  @extend .message;
  border-color: green;
}

.error {
  @extend .message;
  border-color: red;
}

.warning {
  @extend .message;
  border-color: yellow;
}

//Operators
/*! Operators */
.container { width: 100%; }

article[role="main"] {
  float: left;
  width: 600px / 960px * 100%;
}

aside[role="complementary"] {
  float: right;
  width: 300px / 960px * 100%;
}

/* if else for while  */

@for $i from 1 through 3 {
	#item-#{$i} {
		color:#{$i}#{$i}#{$i};
		
		  @if 1+1==2 {
		  	border:solid 12px #333;
		  }
	}
}


@for $i from 1 through 3 {
  .item-#{$i} { width: 2em * $i; }
}

 
/* media */

@media screen and (max-width: 1000px) and (min-width: 800px) {
	@import '800-1000';
}
@media screen and (max-width: 1200px) and (min-width: 1000px) {
	@import '1200width';
}