@import "../reset/main";
.has-open-menu {
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}
@mixin sns_icons(){

	ol {
		text-align: center;
		padding: 0;
		margin: 8px 0;
		line-height: normal;
		li {
			display: inline-block;
			list-style: none;
			padding: 12px;
			position: relative;
			line-height: normal;
			&+:before{
				content: "";
				position: absolute;
				width: 1px;
				height: 20px;
				top: 14px;
				left: -3px;
				background: #c3b7b7;
			}
			a {
				display: inline-block;
				width: 50px*0.5;
				height: 50px*0.5;
				background: url(../images/sns_icons.jpg) 0 0 no-repeat;
				background-size: 400px*0.5;
				border-radius: 26px;
				text-indent: 100em;
				overflow: hidden;
			}
			&.wb {
				&:hover {background-color: #ffd879;}
				a {background-position: -56px*0.5 -40px*0.5;}
			}
			&.fb {
				&:hover {background-color: #39579d;}
				a {background-position: -229px*0.5 -210px*0.5;}
			}
			&.tw {
				&:hover {background-color: #22abf3;}
				a {background-position: -56px*0.5 -210px*0.5;}
			}
			&.ins {
				&:hover {background-color: #a87c63;}
				a {background-position: -229px*0.5 -125px*0.5;}
			}
		}
	}

}
.main_nav {
	position: relative;
	z-index: 10;
	.wrapper {
		height: $MAIN_NAVIGATION_HEIGHT;
		border-bottom: 1px solid #EAEAEA;
		box-shadow: 0px 2px 5px 0 rgba(102, 102, 102, 0.06);
		.content {
			max-width: $TYPE_MAXIMUM_COPY_WIDTH;
			height: $MAIN_NAVIGATION_HEIGHT;
			position: relative;
			margin: 0 auto;
			.logo {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				height: $MAIN_NAVIGATION_HEIGHT;
				line-height: $MAIN_NAVIGATION_HEIGHT;
				padding-left: $PADDING_SMALL;

				img {
					width: 50px;
					vertical-align: middle;
				}
			}
			.big {
				@include max-screen($TYPE_LARGE_COPY_WIDTH){
					display: none;
				}
				ul {
					position: absolute;
					top: 0;
					left: 0;
					text-align: center;
					width: 100%;
					list-style: none;
					font-size: 0;

					li {
						display: inline-block;
						padding: 0 15px;
						height: 60px;
						line-height: 60px;
						
						a {
							color: #111;
							@include font-size(14px);
							@include font-weight(700);
							
							&:hover {
								color: red;
							}
						}
							 
					}
				}
			}
			.small {
				@include min-screen($TYPE_LARGE_COPY_WIDTH+1){
					display: none;
				}
				.trigger {
					border-left: solid 1px #EAEAEA;
					height: $MAIN_NAVIGATION_HEIGHT;
					line-height: $MAIN_NAVIGATION_HEIGHT;
					
					position: absolute;
					top: 0;
					right: 0;
					padding: 0 20px;
					cursor: pointer;
					span {
						display: inline-block;
						height: 20px;
						width: 20px;
						vertical-align: middle;
						overflow: hidden;
						text-indent: 100em;
						background: url(../images/nav_icon.png) 0 0 no-repeat;
						background-size: 40px;
					}
					&.close {
						span {
							background-position: -20px 0;
						}
					}
				}
				.mobile_nav {
					background: #fff;
					z-index: 20;
					position: fixed;
					width: 100%;
					top: 62px;
					bottom: 0;
					overflow: auto;
					display: none;

					ul {
						margin: 0 20px;
						padding: 0;

						li {
							border-bottom: 1px solid #EAEAEA;
							@include font-size(15px);
							@include font-weight("BOLD");
							line-height: $MAIN_NAVIGATION_HEIGHT;

							a {
								display: block;
								color: #111;
								&:hover{
									color: red;
								}
							}
						}
					}
					.sns {
						@include sns_icons();
						text-align: center;
						background: #F4F4F4;
						margin-top: 30px;
						padding-top: 30px;
						span {
							color: #666;
							@include font-size(14px);
							@include font-family("adobe-caslon-pro");
							font-style: italic;
						}
						.mail_to_me {
							border: 1px solid #C00000;
							display: inline-block;
							color: #C00000;
							padding: 10px 15px;
							margin: 15px auto 30px auto;
							&:hover {
								color: white;
								background: #C00000;
							}
						}
					}
				}
			}
			.more {
				@include max-screen($TYPE_LARGE_COPY_WIDTH) {
					display: none;
				}
				border-left: solid 1px #EAEAEA;
				height: $MAIN_NAVIGATION_HEIGHT;
				line-height: $MAIN_NAVIGATION_HEIGHT;
				position: absolute;
				top: 0;
				right: 0;
				padding: 0 20px;
				cursor: pointer;
				a {
					color: #666;
					@include font-size(14px);
					@include font-family("adobe-caslon-pro");
					font-style: italic;
				}
				&:after {
					content: "";
					display: inline-block;
					border-top: 5px solid #000;
					width: 0;
					height: 0;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					top: -2px;
					position: relative;
				}
				&:hover {
					border-bottom: solid 1px #fff;
				}
				&:hover:after {
					border-top: 5px solid #C00;
				}

				.follow {
					@include sns_icons();
					display: none;
					padding: 0 8px;
					position: absolute;
					top: 100%;
					right: 0;
					width: 218px;
					margin-top: 1px;
					border: solid 1px #EAEAEA;
					border-top: none;
					
					@include max-screen($TYPE_MAXIMUM_COPY_WIDTH) {
						border-right: none;
					}
					background: #FFF;
					text-align: center;
					cursor: default;
				}
				
				&:hover .follow{
					display: block;
				}
			}
		}
	}
}

