@charset "UTF-8";
/**
 * 排版
 * ============================================================================
 */
/**
 * MARGINS
 * =============================================================================
 */
/**
 * PADDINGS
 * =============================================================================
 */
/**
 * Font weights
 */
/**
 * 排版
 * ============================================================================
 */
/**
 * MARGINS
 * =============================================================================
 */
/**
 * PADDINGS
 * =============================================================================
 */
/**
 * Font weights
 */
html {
  font-size: 16px; }

a {
  text-decoration: none;
  border: none; }

img {
  border: none; }

abbr {
  text-decoration: underline; }

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

em {
  font-style: italic; }

h1, h2, h3, h4, h5, h6 {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-variant-ligatures: common-ligatures;
  color: black;
  margin: 0;
  padding: 0; }

h1, .h-alpha {
  font-family: PingFang SC, Hiragino Sans GB, Arial, Microsoft YaHei, Helvetica Neue, sans-serif;
  font-size: 50px;
  font-size: 3.125rem;
  font-weight: 300;
  line-height: 50px;
  line-height: 3.125rem; }
  @media screen and (min-width: 1024px) {
    h1, .h-alpha {
      font-size: 100px;
      font-size: 6.25rem;
      line-height: 100px;
      line-height: 6.25rem; } }

h2, .h-beta {
  font-family: NEW GROTESK SQUARE, PingFang SC, Hiragino Sans GB, Arial, Microsoft YaHei, Helvetica Neue, sans-serif;
  font-size: 45px;
  font-size: 2.8125rem;
  font-weight: 300;
  line-height: 45px;
  line-height: 2.8125rem; }
  @media screen and (min-width: 1024px) {
    h2, .h-beta {
      font-size: 65px;
      font-size: 4.0625rem;
      line-height: 65px;
      line-height: 4.0625rem; } }

h3, .h-gamma {
  font-family: NEW GROTESK SQUARE, PingFang SC, Hiragino Sans GB, Arial, Microsoft YaHei, Helvetica Neue, sans-serif;
  font-size: 40px;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 40px;
  line-height: 2.5rem; }
  @media screen and (min-width: 1024px) {
    h3, .h-gamma {
      font-size: 45px;
      font-size: 2.8125rem;
      line-height: 45px;
      line-height: 2.8125rem; } }

h4, .h-delta {
  font-family: NEW GROTESK SQUARE, PingFang SC, Hiragino Sans GB, Arial, Microsoft YaHei, Helvetica Neue, sans-serif;
  font-size: 35px;
  font-size: 2.1875rem;
  font-weight: 300;
  line-height: 35px;
  line-height: 2.1875rem; }
  @media screen and (min-width: 1024px) {
    h4, .h-delta {
      font-size: 40px;
      font-size: 2.5rem;
      line-height: 40px;
      line-height: 2.5rem; } }

h5, .h-epsilon {
  font-family: NEW GROTESK SQUARE, PingFang SC, Hiragino Sans GB, Arial, Microsoft YaHei, Helvetica Neue, sans-serif;
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 300;
  line-height: 30px;
  line-height: 1.875rem; }
  @media screen and (min-width: 1024px) {
    h5, .h-epsilon {
      font-size: 35px;
      font-size: 2.1875rem;
      line-height: 35px;
      line-height: 2.1875rem; } }

h6, .h-zeta {
  font-family: NEW GROTESK SQUARE, PingFang SC, Hiragino Sans GB, Arial, Microsoft YaHei, Helvetica Neue, sans-serif;
  font-size: 25px;
  font-size: 1.5625rem;
  font-weight: 300;
  line-height: 25px;
  line-height: 1.5625rem; }
  @media screen and (min-width: 1024px) {
    h6, .h-zeta {
      font-size: 30px;
      font-size: 1.875rem;
      line-height: 30px;
      line-height: 1.875rem; } }

hr {
  border: none;
  border-top: 1px solid black;
  height: 0;
  margin: 10px 0; }

mark {
  background-color: #e6e7e8;
  padding: 4px 0; }

p {
  font-family: EXCHANGE WEB, PingFang SC, Hiragino Sans GB, Arial, Microsoft YaHei, Helvetica Neue, sans-serif;
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: 300;
  line-height: 23px;
  line-height: 1.4375rem;
  color: black;
  margin: 10px 0; }
  @media screen and (min-width: 1024px) {
    p {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 27px;
      line-height: 1.6875rem; } }

small {
  font-family: BRUTAL, PingFang SC, Hiragino Sans GB, Arial, Microsoft YaHei, Helvetica Neue, sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 12px;
  line-height: 0.75rem; }

strong {
  font-weight: 700; }

ul,
ol {
  font-family: BRUTAL, PingFang SC, Hiragino Sans GB, Arial, Microsoft YaHei, Helvetica Neue, sans-serif;
  list-style-type: none; }

li {
  position: relative; }

ol {
  counter-reset: section; }
  ol li {
    counter-increment: section; }
  ol li:not([class]):before {
    content: counters(section,".") ".";
    font-weight: bold;
    left: -30px;
    position: absolute; }

.main_nav {
  position: relative;
  z-index: 10; }
  .main_nav .wrapper {
    height: 60px;
    border-bottom: 1px solid #EAEAEA;
    box-shadow: 0px 2px 5px 0 rgba(102, 102, 102, 0.06); }
    .main_nav .wrapper .content {
      max-width: 1440px;
      height: 60px;
      position: relative;
      margin: 0 auto; }
      .main_nav .wrapper .content .logo {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 60px;
        line-height: 60px;
        padding-left: 20px; }
        .main_nav .wrapper .content .logo img {
          width: 50px;
          vertical-align: middle; }
      @media screen and (max-width: 1024px) {
        .main_nav .wrapper .content nav {
          display: none; } }
      .main_nav .wrapper .content nav ul {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        width: 100%;
        list-style: none;
        font-size: 0; }
        .main_nav .wrapper .content nav ul li {
          display: inline-block;
          padding: 0 15px;
          height: 60px;
          line-height: 60px; }
          .main_nav .wrapper .content nav ul li a {
            color: #111;
            font-size: 14px;
            font-size: 0.875rem;
            font-weight: 700; }
            .main_nav .wrapper .content nav ul li a:hover {
              color: red; }
      .main_nav .wrapper .content .more {
        border-left: solid 1px #EAEAEA;
        height: 60px;
        line-height: 60px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 20px;
        cursor: pointer; }
        @media screen and (max-width: 1024px) {
          .main_nav .wrapper .content .more {
            display: none; } }
        .main_nav .wrapper .content .more a {
          color: #666;
          font-size: 14px;
          font-size: 0.875rem;
          font-family: adobe-caslon-pro, PingFang SC, Hiragino Sans GB, Arial, Microsoft YaHei, Helvetica Neue, sans-serif;
          font-style: italic; }
        .main_nav .wrapper .content .more:after {
          content: "";
          display: inline-block;
          border-top: 5px solid #000;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          top: -2px;
          position: relative; }
        .main_nav .wrapper .content .more:hover {
          border-bottom: solid 1px #fff; }
        .main_nav .wrapper .content .more:hover:after {
          border-top: 5px solid #C00; }
        .main_nav .wrapper .content .more .follow {
          display: none;
          padding: 8px;
          position: absolute;
          width: 180px;
          top: 100%;
          right: 0;
          margin-top: 1px;
          border: solid 1px #EAEAEA;
          border-top: none;
          background: #FFF;
          text-align: center;
          cursor: default; }
          @media screen and (max-width: 1440px) {
            .main_nav .wrapper .content .more .follow {
              border-right: none; } }
        .main_nav .wrapper .content .more:hover .follow {
          display: block; }

/*# sourceMappingURL=main.css.map */
